@use 'index' as *;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-size: var(--font-size-base);
      color: $color-text-heading;
    }

    .validation-message {
      color: #FF0000;
      font-size: var(--font-size-sm);
      margin-top: 4px;
    }
  }

  .priority-buttons {
    display: flex;
    gap: 1rem;
    width: 440px;

    @media (max-width: 480px) {
      flex-direction: column;
    }

    .priority-btn {
      flex: 1;
      height: 64px;
      padding: 10px;
      border: 1px solid $color-light-gray;
      border-radius: 8px;
      background-color: $color-white;
      cursor: pointer;
      transition: all 0.2s ease;
      font-size: var(--font-size-base);

      &.urgent {
        &.selected, &:hover {
          background-color: #FF3D00;
          color: $color-white;
          border-color: #FF3D00;
        }
      }

      &.medium {
        &.selected, &:hover {
          background-color: #FFA800;
          color: $color-white;
          border-color: #FFA800;
        }
      }

      &.low {
        &.selected, &:hover {
          background-color: #7AE229;
          color: $color-white;
          border-color: #7AE229;
        }
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;

    .submit-btn {
      padding: 12px 24px;
      background-color: $color-primary;
      color: $color-white;
      border: none;
      border-radius: 8px;
      font-size: var(--font-size-base);
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: #29ABE2;
        box-shadow: $card-shadow;
      }
    }
  }

