<div class="container">
  <div class="header-section">
  <!-- #region mobile Nav Section-->
  <h1>Board</h1>
  <div class="search-container">
      <form action="">
          <div class="input-search">
              <input type="text" placeholder="Name">
              <button class="magnifyin-glass">
                <img src="/icons/magnifyin-glass.svg" alt="person" />
              </button>
              <div  class="validation-message">
              </div>
          </div>
      </form>
      <button class="btn primary">+ Add task</button>
  </div>

  </div>
  <div class="grid-board">
    <div class="column" *ngFor="let col of columns">
        <div class="flex space-between">
          <h4>{{ col.title }}</h4> <button class=" add-icon">+</button></div>
        <div
          cdkDropList
          [cdkDropListData]="col.tasks"
          [cdkDropListConnectedTo]="connectedDropLists"
          class=""
          (cdkDropListDropped)="drop($event)"
          [id]="col.id"
        >
          <div class="card flex column" *ngFor="let task of col.tasks" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class=""><span class="category"> User Story</span></div>
            <div class="task-title"><h4> HTML Base Template Creation</h4></div>
            <div class="description">shortescription</div>
              <mat-progress-bar mode="determinate" value="90"></mat-progress-bar> 
            <div class="flex subtask-progress">
            <span>1/3</span>
            </div>
            <div class="flex">
                <div class="flex">
                    <div class="circle blue z-index-30">br</div>
                    <div class="circle red z-index-40">sr</div>
                    <div class="circle blue z-index-50">tm</div>
              </div>          
              <div>priority</div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<app-task-detail>
  
</app-task-detail>
