@use 'index' as *;
body{
    font-family: $font-family-base;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  height: 100svh;
}
.sidebar{
    max-width: 14.5rem;
}

@media (max-width < 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
header {
  grid-column: 1 / 4;
  grid-row: 1;
  color:$color-gray ;
  font-size: 1.5rem;
  height: 65px;
  background-color: #f8f9fa;
  border-bottom: 2px solid rgba(51, 51, 51, 0.11);
  box-shadow: $header-shadow;

}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 3;
  color: $color-gray;
}

main{
  max-width: $max-width;
}

.content-container {
  grid-column: 2 / 4;
  grid-row: 2;

  padding: 1rem;
}
.content{
display: flex;
flex-wrap: wrap;
}
.left-container{
  flex:1;
}
.right-container{
  flex:2;
}
@media (max-width < 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .header {
    grid-column: 1;
    grid-row: 1;
  }
  .sidebar {
    grid-column: 1;
    grid-row: 2;
  }
  .content-container{
    grid-column: 1;
    grid-row: 3;
  }
}
.contact-list {
  list-style: none;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
}
.contact-list > li {
  margin-bottom: 2rem;
}
