@use 'index' as *;
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content{
    max-width: 652px;
}
.single-wrapper{
  display: flex;
  flex-direction: column;
  height:100dvh;
}
header{
    max-height: 65px;
    display: flex;
    justify-content: space-between;
    width: 100dvw;
    padding:$spacing-3xl;        
    & img{
        max-height: 50px;
    }
}
.header-content{
    width:1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-base;
}
/* main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100svh - 130px);
} */
footer{
    height:65px;
}
.big-card{
    max-width:652px;
    padding:$spacing-5xl;
    justify-content: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    & h1{
        text-align: center;
    }
}
.subline {
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    bottom: -8px; // Abstand zur Schrift
    left: 43%;
    width: 15%;
    border-bottom: 3px solid $color-subtask-bar;
  }
}
.margin-right{
    margin-right:$spacing-base;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    justify-content: center;
}
.footer-content{
    display: flex;
    justify-content: center;
    gap: $spacing-base;
    & a{
        color:$color-medium-gray;
        &:hover{
            color:$color-primary;
        }
    }
}
.margin-bottom{
    margin-bottom: $spacing-2xl;
}
.justify-center{
    justify-content: center;
}