<div class="contacts-page-container">
  <div class="contact-container">
    <button class="add-contact-btn" (click)="addContact()">
      Add new contact
    </button>

    <div class="contact-list">
      @if (contacts.length === 0) {
      } @else {
        @for (group of groupedContacts | keyvalue; track group.key) {
          <div class="group-header">{{ group.key }}</div>

          @for (contact of group.value; track contact.email) {
            <div class="contact-item"
                 [class.selected]="selectedContact && selectedContact.email === contact.email"
                 (click)="selectContact(contact)">
              <div class="circle">{{ getInitials(contact.name) }}</div>

              <div class="info">
                <div class="name">{{ contact.name }}</div>
                <div class="email">{{ contact.email }}</div>
              </div>
            </div>
          }
        }
      }
    </div>
  </div>


  <div class="contacts-info-container">
    <h2>Contacts</h2>
    <div class="contacts-info-line">
      <img src="/img/Card_Contacts/Vector.png" alt="Contacts vector image">
    </div>
    <h3>Better with a team</h3>
  </div>

  <section class="contacts-detail-container">
    @if (selectedContact) {
    <div class="contacts-detail">
      <div class="circle-initial">
        <div class="circle-come-in">{{ getInitials(selectedContact.name) }}</div>
        <div class="alignment">
        <h2>{{ selectedContact.name }}</h2>

          <div class="edit">
              <h4>Edit</h4>
              <h4>Delete</h4>
          </div>
        </div>
      </div>

          <div class="contacts-information">
            <h3>Contact Information</h3>

            <h4>Email</h4>
            <p>{{ selectedContact.email }}</p>

            <h4>Phone</h4>
            <p>{{ selectedContact.phone }}</p>
          </div>
    </div>
    }
  </section>
</div>
